<div class="container fondo">

    <div class="row justify-content-center">
        <h2 class="mt-5 mb-5 imagran-nombre"><i class="far fa-image"></i> Imagram </h2>
    </div>

    <div class="card card-body">
        <div class="row">
            <div>
                <h5>¿Seguro desea reactivar su cuenta?</h5>
                <hr>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <button class="btn btn-info" (click)="ReactivarCuenta()">Aceptar</button>
                <button class="ml-5 btn btn-danger" (click)="Cancelar()">Rechazar</button>
            </div>
        </div>
    </div>

</div>