<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 col-lg-2">
                <img class="rounded-circle" width="40px" height="40px" src={{foto}}
                    fallback="https://unsplash.com/photos/rDEOVtE7vOs">
            </div>
            <div class="col-md-6">
                <h6 class="mb-0 ml-1">{{usuario}}</h6>
                <small class="form-text text-muted ml-1">{{nombres}}</small>
            </div>

            <div class="col-md-4 align-self-center text-center">
                <a role="button" class="derecha text-primary">Ver Perfil</a>
            </div>
        </div>
        <hr class="sidebar-divider">
    </div>
</div>